#forgotForm {
    display: none;    
}

#recoverRequest {
    display: none;
    color: #d00;
    padding: 1em 0;
}

html {
    height: 100%;
    font-family: Calibri, Helvetica, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #f9f9f9;
    background: url(../images/hypnotize.png);
    background-size: 200px;
    background-position: center;
}

body.loginPage {
    background-color: #a8bbcc;
    background-image: url(../images/wallpaper.jpg);
    background-size: cover;
}

a {
    color: rgb(89, 141, 192);
}

.login {
    text-align: center;
    position: absolute;
    right: 16px;
    box-sizing: border-box;
    max-width: 416px;
    height: 100%;
    background: white;
    padding: 16px;
    box-shadow: 0 0 32px rgba(0,0,0,0.5);
}

@media screen and (max-width: 416px) {
    .login {
        width: 100%;
        right: 0;
    }
}

.login input, .login button {
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    margin: 8px 0;
    border-radius: 8px;
    border: none;
    background: #eee;
    transition: 0.5s background ease;
}

.login input:hover {
    background: #f9f9f9;
}

.login input[type=submit], .login input[type=button] {
    background: #ccc;
}

.login input[type=submit]:hover, .login input[type=button]:hover {
    background: #eee;
}

.login button {
    display: none;
    background: transparent;
    border: 2px solid #369;
    color: #369;
    padding: 14px;
    transition: 0.5s ease border-color, 0.5s ease color;
}

.login button:hover {
    border-color: rgb(157, 188, 219);
    color: rgb(157, 188, 219);
}

.registerForm input[type=submit] {
    width: calc(50% - 4px);
}

.registerForm button {
    display: inline-block;
    width: calc(50% - 4px);
    margin-left: 8px;
}

.legal {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 16px;
}

/* Chat */
main.chat {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.chatSide main {
    display: inline-block;
    height: 100%;
    width: calc(100% - 256px);
    vertical-align: top;
}

.chatlog {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 100px);
    padding: 32px;
    text-align: center;
    overflow-y: auto;
}

.chatlog p {
    display: inline-block;
    padding: 8px;
    border-radius: 8px;
    color: white;
    background: rgb(119, 169, 216);
    text-align: center;
}

.chatlog div {
    margin: 8px 0;
    text-align: left;
}

.chatlog div span {
    text-align: justify;
    max-width: 600px;
    display: inline-block;
    border-radius: 0 16px 16px 16px;
    background: rgb(119, 169, 216);
    color: white;
    padding: 8px;
}

.chatlog div .task a, 
.chatlog div .task input {
    display: inline-block;
    width: auto;
}

.chatlog div.right {
    text-align: right;
}

.chatlog div.right span {
    border-radius: 16px 16px 0px 16px;
    background: rgb(73, 116, 156);
}

.chatlog button {
    display: inline-block;
    height: 0;
    width: 0;
    padding: 0;
    background: none;
    border-left: 16px solid white;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: none;
}

.chatlog input[type='range'] {
    display: inline-block;
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.chatlog input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%; 
    background: white;
    border: 2px solid #ddd;
    cursor: pointer;
}

.chatlog input[type='range']::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
    border: 2px solid #ddd;
    cursor: pointer;
}

.chatlog .time {
    float:right;
    vertical-align: middle;
}

.chatlog a {
    text-align: center;
    width: 100%;
    display: block;
    color: white;
}

.chatsubmit {
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    position: relative;
}

.chatsubmit textarea {
    width: calc(100% - 72px);
    height: 64px;
    padding: 8px;
    box-sizing: border-box;
    resize: none;
    border-radius: 16px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.chatsubmit button {
    width: 64px;
    height: 64px;
    margin-left: 8px;
    border-radius: 50%;
    border: none;
    vertical-align: top;
    background: #369;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

.chatsubmit > button {
    background-image: url(../images/attach.png);
}

#attachMenu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 104px;
    background: white;
    box-shadow: 0 0 24px rgba(0,0,0,0.5);
    box-sizing: border-box;
    padding: 16px;
    opacity: 1;
    transition: bottom 0.3s ease, box-shadow 0.8s ease;
}

#attachMenu > button:last-child {
    float: right;
}

#attachMenu.hideAttach {
    bottom: -104px;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

/* Workflows */
#popupcontainer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    background-image: url(../images/hypnotize.png);
    background-size: 200px;
    background-position: center;
}

#popupcontainer > div {
    position: relative;
    z-index: 100;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    border-radius: 1em;
    margin: 1em;
    background: #eee;
    box-sizing: border-box;
    padding: 1em;
    box-shadow: 0 0 16px black;
}

#popupcontainer input {
    box-sizing: border-box;
    padding: 0.5em;
    margin: 0;
    font-size: 110%;
    background: white;
    border: none;
}

#popupcontainer input[type=text] {
    width: 100%;
    font-size: 120%;
    margin-bottom: 1em;
    padding: 8px;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    border-radius: 0.25em;
}

#popupcontainer div > div {
    width: 100%;
    border: none;
    background: none;
    margin-top: 1em;
    border-radius: 0.25em;
    overflow: hidden;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
}

#popupcontainer input[type=button], #popupcontainer input[type=submit] {
    width: 50%;
    background: #ccc;
    border: none;
}

#popupcontainer input[type=button] {
    background: #369;
    color: white;
}

#popupcontainer textarea {
    width: 100%;
    font-size: 110%;
    height: calc(100% - 8.2em);
    box-sizing: border-box;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    background: white;
    padding: 1em;
    border: none;
    border-radius: 0.25em;
    resize: none;
}

.blueBackPage {
    background-color: #a8bbcc;
}

main.workflows {
    width: calc(100% - 256px);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 16px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}

.workflows > section {
    display: inline-block;
    background: white;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 100%;
    max-width: 400px;
    max-height: calc(100% - 64px);
    overflow-y: auto;
    vertical-align: top;
    white-space: normal;
}

.workflows section.settings {
    background: rgba(255,255,255,0.3);
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 0;
    width: calc(100% - 32px);
}

.workflows section.settings button {
    border: none;
    background: #eee;
    width: 100%;
    padding: 2em;
    margin: 0;
    font-size: 120%;
}

.workflows section.settings button:first-child {
    background: #369;
    color: white;
}

@media screen and (max-width: 440px) {
    body {
        overflow: hidden;
    }

    main.workflows {
        overflow-x: hidden;
        padding: 8px;
    }

    .workflows > section {
        margin: 8px;
        width: calc(100% - 64px);
    }
}

.workflows hr {
    border: none;
    background: #d9d9d9;
    height: 1px;
    margin: 0;
}

.workflows > section h2 {
    margin: 0;
    border-bottom: 1px solid #eee;
}

.workflows > section > span {
    display: block;
    padding: 8px;
    border-radius: 8px;
    margin: 8px 0;
    background: #f9f9f9;
    transition: 0.5s ease background;
}

.workflows > section > span:hover {
    background: #eee;
}

.workflows > section input[type=checkbox] {
    margin-right: 8px;
}

.workflows > section input[type=text], 
.workflows > section input[type=submit] {
    box-sizing: border-box;
    border: none;
    padding: 8px;
    border-radius: 8px;
    margin: 8px 0;
    transition: 0.5s ease background;
    display: inline-block;
}

.workflows > section input[type=text] {
    width: calc(100% - 72px);
    background: #eee;
}

.workflows > section input[type=text]:hover {
    background: #ddd;
}

.workflows > section input[type=submit] {
    margin-left: 8px;
    padding: 8px 4px;
    width: 58px;
    background: rgb(119, 169, 216);
}

.workflows > section input[type=submit]:hover {
    background: rgb(73, 116, 156);
}

.workflows > section > span > div {
    float: right;
    margin-top: -4px;
    margin-left: 4px;
    width:      28px;
    height:     28px;
    background: rgb(179, 204, 228) url(../images/garbage.png);
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
    transition: 0.5s ease background, 0.3s ease opacity;
    opacity: 0;
}

.workflows > section > span:hover > div {
    opacity: 1;
}

.workflows > section > span > div:hover {
    background-color: rgb(119, 169, 216);
}

/* Transactions */

.transactions {
    overflow-y: auto;
}

.transactions section {
    background: white;
    border-radius: 8px;
    margin: 32px;
    padding: 8px;
}

.transactions h2 {
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 4px;
}

.transactions span {
    float: right;
    width: 200px;
    text-align: right;
}

.transactions h2 {
    font-size: 1.6em;
}

.transactions h3 {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
}

.transactions p {
    margin: 0;
}

.transactions div {
    padding-left: 16px;
    border-bottom: 1px solid #eee;
    min-height: 5em;
}

.transactions div:last-child {
    border:none;
}

.transactions h2 a {
    font-size: 70%;
    vertical-align: middle;
}

/* ;) */
nav {
    display: inline-block;
    width: 256px;
    height: 100%;
    background: #f9f9f9;
    vertical-align: top;
    box-shadow: 0 0 32px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
}

nav > div {
    background: white;
    width: 100%;
    box-shadow: 0 0 32px rgba(0,0,0,0.05);
}

nav > h2 {
    height: 48px;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    background: white;
    position: relative;
    z-index: 1;
}

nav > div:nth-child(2) {
    overflow: visible;
    max-height: calc(100% - 196px);
}

nav > div:nth-child(3) {
    position: absolute;
    bottom: 0;
}

nav > div > h2 {
    margin: 0;
    padding: 8px;
    text-align: center;
}

nav > div > * {
    position: relative;
    display: block;
    text-decoration: none;
    padding: 8px;
    color: #333;
    border-bottom: 1px solid #eee;
    transition: 0.5s ease padding, 0.5s ease background, 0.8s ease box-shadow;
    cursor: pointer;
}

nav > div > *:hover {
    padding-left: 16px;
    background: #cfddeb;
    box-shadow: 0 0 32px #cfddeb;
}

nav > div > * > div {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    vertical-align: middle;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    transition:  0.3s ease transform;
}

nav > div > * > div {
    background-color: #cfddeb;
}

nav > div:nth-child(3) > *:nth-child(1) > div {
    background-image: url(../images/add.png);
}

nav > div:nth-child(3) > *:nth-child(2) > div {
    background-image: url(../images/transaction.png);
}

nav > div:nth-child(3) > *:nth-child(3) > div {
    background-image: url(../images/settings.png);
}

@media screen and (max-width: 768px) {
    nav {
        width: 48px;
    }

    .chatSide main {
        width: calc(100% - 48px);
    }

    nav > h2 {
        display: none;
    }

    nav > div > div:hover {
        padding-left: 8px;
    }

    nav > div > div:hover > div {
        transform: scale(1.1);
    }

    nav span {
        display: none;
    }
}

nav aside {
    background: red;
    border: 1px solid #c00;
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    right: 0;
    opacity: 0;
    transition: 0.5s ease opacity, 0.5s ease right;
}

nav aside.shown {
    opacity: 1;
    right: -8px;
}

/* Admin */

hr {
    height: 0;
    border: none;
    border-bottom: 1px solid #999;
}

.admin main {
    position: relative;
    width: 100%;
    height: calc(100% - 3rem);
}

.admin button {
    padding: 0.8em;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #eee;
    background: #ddd;
}

.admin main section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: #fff;
	display: none;
}

.admin main section.show {
	display: block;
}

.admin nav {
    width: 100%;
    height: 3rem;
}

.admin nav select {
    width: 100%;
    padding: 0.5rem;
    height: 3rem;
}

.admin nav ul {
    display: none;
}

.admin aside {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    padding: 1em;
    height: 100%;
    background: #eee;
    box-sizing: border-box;
}

.admin aside input:not([type=checkbox]) {
    width: 100%;
    padding: 0.6em;
    margin: 0.5em 0;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

.admin aside h2 {
    margin: 0;
}

.admin div {
    vertical-align: top;
    display: inline-block;
    width: 70%;
    height: 100%;
    overflow: auto;
}

.admin table {
    width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 416px) {
    .admin section {
        overflow-x: hidden;
        overflow-y: auto;
        height: auto;
    }
    .admin aside {
        width: 100%;
        height: auto;
    }
    .admin div {
        width: 100%;
        height: auto;
        overflow: auto;
    }
    .admin table {
        width: 100%;
        overflow: scroll;
    }
}


.admin thead {
    font-weight: bold;
}

.admin thead, .admin tbody {
    width: auto;
}

.admin td, .admin th {
    border-right: 2px solid #ccc;
    padding: 0.5em;
    text-align: center;
}

.admin td:last-child, .admin th:last-child {
    border: none;
}

.admin tbody tr:nth-child(odd) {
    background: rgba(0,0,0,0.03);
}

.admin .manage select {
    box-sizing: border-box;
    width: 100%;
    height: 10em;
    margin: 0.2em 0;
}

.admin .manage > input[type=text],
.admin .manage > input[type=submit] {
    box-sizing: border-box;
    width: 50%;
    padding: 0.5em;
    margin: 0.2em 0;
}

.admin .manage fieldset div {
    width: 100%;
    -webkit-column-width: 15em; /* Chrome, Safari, Opera */
    -moz-column-width: 15em; /* Firefox */
    column-width: 15em;
}

#deleteButton {
    width: 100%;
}

.admin .manage option {
    padding: 0.5em;
}

.admin .manage label {
    display: block;
}


.media {
    width: 80%;
    background-size: cover !important;
}